doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Page Not Found
        link(rel="stylesheet", href="../css/shop.css")
        link(rel="stylesheet", href="../css/form.css")
    body 
        include ../includes/navigation.pug  

        h1 Page Not Found!
