doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Shop
        link(rel="stylesheet", href="/css/shop.css")
    body 
        include ../includes/navigation.pug 

        main 
            if pro.length > 0
                .grid 
                    each prods in pro
                        article.card.product_item
                            header.card__header
                                h1.product__title #{prods.title}: 
                            div.card__image 
                                img(src="https://cdn.pixabay.com/photo/2017/01/06/22/59/sherlock-holmes-book-1959204_1280.jpg", alt="A book")   
                            .card__content 
                                h2.product__price $ #{prods.price}
                                p.product__description #{prods.description} 
                            .card__actions 
                                button.btn Add to Cart
                                

            else 
                h1 No Products Found 