body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
      }
      main {
        padding: 1rem;
      }
      .main-header {
        width: 100%;
        height: 3.5rem;
        background-color: #7163a7;
        padding: 0 1.5rem;
      }
      .main-header-nav {
        height: 100%;
        display: flex;
        align-items: center;
      }
      .main-header__item-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }
      .main-header__item {
        margin: 0 1rem;
        padding: 0;
      }
      .main-header__item a {
        text-decoration: none;
        color: whitesmoke;
      }
      .main-header__item a:hover,
      .main-header__item a:active,
      .main-header__item a.active {
        color: rgb(5, 65, 145);
        transition: color 0.6s ease-in-out;
      }
      .pro-form{
        width: 20rem;
        max-width: 90%;
        margin: auto;
      }

      .form-ctrl {
        margin: 1rem 0;
      }

      .form-ctrl label,
      .form-ctrl input {
        display: block;
      }

      .form-ctrl input {
        border: 1px solid #7163a7;
        font: inherit;
        border-radius: 10px;
        padding: 0.5rem;
      }
      .form-ctrl input:focus {
        outline: none;
        color: plum;
      }

      button {
        margin-top: 1rem;
        margin-left: 3rem;
        padding: 0.4rem;
        font: inherit;
        border: 1px solid grey;
        color: plum;
        background: white;
        border-radius: 8px;
        cursor: pointer;
      }
      button:hover,
      button:active {
        background-color: #7163a7;
        color: white;
        transition: background-color 0.6s ease-in-out;
      }