body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
main {
  padding: 1rem;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #7163a7;
  padding: 0 1.5rem;
}
.main-header-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-header__item {
  margin: 0 1rem;
  padding: 0;
}
.main-header__item a {
  text-decoration: none;
  color: whitesmoke;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: rgb(5, 65, 145);
  transition: color 0.6s ease-in-out;
}

.centered{
text-align: center;

}

img {
  width: 150px;
  height: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}

.card__header {
  padding: 10px;
  font-weight: bold;
}

.card__image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card__content {
  padding: 15px;
}

.product__price {
  font-weight: bold;
  margin-bottom: 10px;
}

.product__description {
  color: #333;
  font-size: 0.9rem;
}

.card__actions {
  padding-bottom: 15px;
  display: flex;
  margin-left: 2rem;
}

.btn {
  background-color: white;
  color: #7163a7;
  border: 1px solid #7163a7;
  padding: 6px 14px;
  margin-left: 0.3rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #7163a7;
  color: white;
}
