doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cart
        link(rel="stylesheet", href="/css/shop.css")
    body 
        include ../../includes/navigation.pug
