doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home Page
        link(rel="stylesheet", href="/css/shop.css")
    body 
        header.main-header
            nav.main-header-nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/") Shop 
                    li.main-header__item
                        a(href="/products") Products
                    li.main-header__item
                        a(href="/cart") Cart
                    li.main-header__item
                        a(href="/product") Add Products
                    li.main-header__item
                        a(href="/admin-product") Admin Products 
